In [14]:
import numpy as np 
import pandas as pd

In [15]:
#Series
s = pd.Series([1,3,5,np.nan]) #nan = not a no.
s

0    1.0
1    3.0
2    5.0
3    NaN
dtype: float64

In [28]:
#Dataframe with numpy array, datetime index and labeled columns
df = pd.DataFrame(np.random.randn(5,2), index = dates, columns = list('AB'))
df

                   A         B
2020-05-04 -0.506943 -0.640515
2020-05-05  0.239177  1.500920
2020-05-06 -0.940553 -0.537443
2020-05-07  0.557268  1.520906
2020-05-08 -0.705777 -2.584688

In [31]:
#dictionary of objects
df2 = pd.DataFrame({'A' : 1., 
                    'B' : pd.Timestamp('20200405'),
                    'C' : pd.Categorical(["Train", "Car", "Bus"])})
df2

     A          B      C
0  1.0 2020-04-05  Train
1  1.0 2020-04-05    Car
2  1.0 2020-04-05    Bus

In [32]:
df2.dtypes

A           float64
B    datetime64[ns]
C          category
dtype: object

In [37]:
df2.boxplot

<bound method boxplot_frame of      A          B      C
0  1.0 2020-04-05  Train
1  1.0 2020-04-05    Car
2  1.0 2020-04-05    Bus>

In [40]:
df.head(2) #head tail top bottom data

                   A         B
2020-05-07  0.557268  1.520906
2020-05-08 -0.705777 -2.584688

In [41]:
df.tail(1)

                   A         B
2020-05-08 -0.705777 -2.584688

In [42]:
df.index

DatetimeIndex(['2020-05-04', '2020-05-05', '2020-05-06', '2020-05-07',
               '2020-05-08'],
              dtype='datetime64[ns]', freq='D')

In [43]:
df.columns

Index(['A', 'B'], dtype='object')

In [47]:
df.to_numpy

<bound method DataFrame.to_numpy of                    A         B
2020-05-04 -0.506943 -0.640515
2020-05-05  0.239177  1.500920
2020-05-06 -0.940553 -0.537443
2020-05-07  0.557268  1.520906
2020-05-08 -0.705777 -2.584688>

In [50]:
df.T #switch rows with columns

   2020-05-04  2020-05-05  2020-05-06  2020-05-07  2020-05-08
A   -0.506943    0.239177   -0.940553    0.557268   -0.705777
B   -0.640515    1.500920   -0.537443    1.520906   -2.584688

In [58]:
df.sort_index(axis = 1, ascending = True)
df

                   A         B
2020-05-04 -0.506943 -0.640515
2020-05-05  0.239177  1.500920
2020-05-06 -0.940553 -0.537443
2020-05-07  0.557268  1.520906
2020-05-08 -0.705777 -2.584688

In [59]:
df['A']

2020-05-04   -0.506943
2020-05-05    0.239177
2020-05-06   -0.940553
2020-05-07    0.557268
2020-05-08   -0.705777
Freq: D, Name: A, dtype: float64

In [61]:
df[0:2]

                   A         B
2020-05-04 -0.506943 -0.640515
2020-05-05  0.239177  1.500920

In [67]:
df.iloc[3]

A    0.557268
B    1.520906
Name: 2020-05-07 00:00:00, dtype: float64

In [74]:
df[df['A'] > 0]

                   A         B
2020-05-05  0.239177  1.500920
2020-05-07  0.557268  1.520906

In [75]:
join = pd.DataFrame({'key' : ['food','food1'], 'value' : [20,50]})
join

     key  value
0   food     20
1  food1     50

In [97]:
import matplotlib.pyplot as plt
%matplotlib inline

In [99]:
plotter = pd.Series(np.random.randn(10),
index=pd.date_range('1/1/2000', periods=10))
plotter = plotter.cumsum()
plotter.plot
plt.show()

In [100]:
df.to_csv('foo.csv')

In [103]:
pd.read_csv('foo.csv')

   Unnamed: 0         A         B
0  2020-05-04 -0.506943 -0.640515
1  2020-05-05  0.239177  1.500920
2  2020-05-06 -0.940553 -0.537443
3  2020-05-07  0.557268  1.520906
4  2020-05-08 -0.705777 -2.584688

In [105]:
df.to_excel('foo.xlsx', sheet_name='Sheet1')

ModuleNotFoundError: No module named 'openpyxl'

In [16]:
dates = pd.date_range('20200504', periods = 5)
dates

DatetimeIndex(['2020-05-04', '2020-05-05', '2020-05-06', '2020-05-07',
               '2020-05-08'],
              dtype='datetime64[ns]', freq='D')